<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact US</title>
    <link rel="stylesheet" href="/css/contactus.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_nav_list">
                <li class="main-header_nav_item"><a href="login" >Home</a></li>
                <li class="main-header_nav_item"><a href="contactus" class="active">Contact US</a></li>
            </ul>
        </nav>
    </header>
    <form action="/success" method="post" class="my-form">
        <div class="inputs">
            Name : <input type="text">
        </div>
        <div class="inputs">
            Email : <input type="email">
        </div>
        <button class="btn">submit</button>
    </form>
</body>
</html>