<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_nav_list">
                <li class="main-header_nav_item"><a href="login" class="active">Home</a></li>
                <li class="main-header_nav_item"><a href="contactus">Contact US</a></li>
            </ul>
        </nav>
    </header>
    
    <form action="/" class="my-form" method="POST" onsubmit=saveLocalStorage()>
    <h2>Register with your Username:</h2>
    <input type="text" name="username" id="username" class="username">
    <button type="submit" class="btn">Send</button>
</form>
<script>
    function saveLocalStorage()
    {
        localStorage.setItem('username',document.getElementById('username').value);
    }
</script>
    
</body>
</html>